footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-link {
    background-color: var(--main-bg-color);
    border: 3px solid var(--main-bg-color);
    margin-left: 1em;
    margin-right: 1em;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 3em;
}